div{

    background-color:#2f2fa2 ;
    line-height: 1.7em;
    color: #f64c72;
    border-style:groove;
    text-align: left;
    text-indent: 1ch;
  
}


h2{
    color:antiquewhite
}
h3{
    color:antiquewhite
}


body{

    background-color: #2f2fa2;
}

