

body{

    background-color: #5cdb95;
   
}

.header-div{

    color:#edf5e1
   
}

h1,
h2,h3{

    border-style: ridge;
    border-color: #05386b;
    background-color: #05386b;
    border-style: groove;
}   

.text-div{

     color:white
}

